<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Mastermind Abacus Bangladesh | Best Abacus Training center in Bangladesh</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link href="assets/css/style-starter.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

</head>
<body>


<!-- Top Menu 1 -->
<section class="w3l-top-menu-1">
    <div class="top-hd">
        <div class="container">
            <header class="row top-menu-top">
                <div class="accounts col-md-12 col-6">
                    <li class="top_li"><span class="fa fa-phone"></span><a href="tel:+01865-598364">+01865-598364 |
                        House # 40, Road # 07, Sector # 13, Uttara</a>
                    </li>
                    <li class="top_li1"><span class="fa fa-envelope-o"></span> <a
                            class="mail" href="mailto:education-mail@support.com"> info@mastermindabacusbd.com</a></li>
                </div>

            </header>
        </div>
    </div>
</section>
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
        <div class="container">
            <a class="navbar-brand" href="index.html"> <img src="assets/images/logo.png"
                                                            alt="mastermind abacus school logo"></a>
            <!-- if logo is image enable this
          <a class="navbar-brand" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </a> -->
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="program-overview.html">PROGRAMME OVERVIEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="program-overview.html#faq-section">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="admission.html">Admission</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</section>
<section class="w3l-contact-breadcrum">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>Admission</h2>
            <p><a href="index.html">Home</a> &nbsp; / &nbsp; Admission</p>
        </div>
    </div>
</section>
<!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container px-md-0 main-container">
            <h3 class="main-heading2 mt-0">Make An Admission</h3>
            <p>Before filling and completing the admission form below please read about <strong>Mastermind Abacus
                Bangladesh</strong></p>
            <div class="box2 form-box mb-4">


                <form action="https://mastermindabacusbd.com/home/admission"
                      class="form-horizontal frm-submit-data" method="post" accept-charset="utf-8">
                    <input type="hidden" name="school_csrf_name" value="ff1b9ed450bd48887e01bd6c2f809d0c">
                    <div class="row">
                        <div class="col-md-4 mb-sm">
                            <div class="form-group">
                                <label class="control-label"> First Name <span
                                        class="required">*</span></label>
                                <input type="text" class="form-control" name="first_name" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-sm">
                            <div class="form-group">
                                <label class="control-label"> Last Name <span
                                        class="required">*</span></label>
                                <input type="text" class="form-control" name="last_name" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-sm">
                            <div class="form-group">
                                <label class="control-label"> Gender <span class="required">*</span></label>
                                <select name="gender" class="form-control select2-hidden-accessible"
                                        data-plugin-selecttwo="" tabindex="-1" aria-hidden="true">
                                    <option value="" selected="selected">Select</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select><span class="select2 select2-container select2-container--default"
                                               dir="ltr" style="width: 100%;"><span class="selection"><span
                                    class="select2-selection select2-selection--single" role="combobox"
                                    aria-haspopup="true" aria-expanded="false" tabindex="0"
                                    aria-labelledby="select2-gender-md-container"><span
                                    class="select2-selection__rendered" id="select2-gender-md-container"
                                    title="Select">Select</span><span class="select2-selection__arrow"
                                                                      role="presentation"><b
                                    role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="birthday">Date Of Birth <span class="required">*</span></label>
                                <input type="text" class="form-control" data-plugin-datepicker=""
                                       name="birthday" readonly="" value="" id="birthday"
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="mobile_no">Mobile No <span class="required">*</span></label>
                                <input type="text" name="mobile_no" class="form-control" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Address <span class="required">*</span></label>
                                <textarea class="form-control" id="address" name="address" rows="2"
                                          placeholder="Enter Address"></textarea>
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Guardian Name <span
                                        class="required">*</span></label>
                                <input type="text" class="form-control" name="guardian_name" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Relation <span
                                        class="required">*</span></label>
                                <input type="text" name="guardian_relation" class="form-control" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="father_name">Father Name</label>
                                <input type="text" name="father_name" class="form-control" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mother_name">Mother Name</label>
                                <input type="text" name="mother_name" class="form-control" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Occupation <span
                                        class="required">*</span></label>
                                <input type="text" class="form-control" name="grd_occupation" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Income</label>
                                <input class="form-control" name="grd_income" value="" type="text"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Education</label>
                                <input type="text" class="form-control" name="grd_education" value=""
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Guardian Email</label>
                                <input type="text" class="form-control" name="grd_email" value=""
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Guardian Mobile No <span
                                        class="required">*</span></label>
                                <input type="text" class="form-control" name="grd_mobile_no" value=""
                                       autocomplete="off">
                                <span class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message">Guardian Address <span class="required">*</span></label>
                        <textarea class="form-control" id="grd_address" name="grd_address"
                                  placeholder="Enter Address"></textarea>
                        <span class="error"></span>
                    </div>
                    <!--custom fields details-->
                    <div class="row" id="customFields">
                    </div>


                    <button type="submit" class="btn btn-1 btn-primary"> Submit
                    </button>
                </form>


            </div>
        </div>

    </div>
</section>
<!-- //contact -->
<!-- grids block 5 -->
<section class="w3l-footer-29-main">
    <div class="footer-29">
        <div class="container">
            <div class="d-grid grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h6 class="footer-title-29">Contact Us</h6>
                    <ul>
                        <li><p><span class="fa fa-map-marker"></span> House # 40, Road # 07, Sector # 13, Uttara</p>
                        </li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> 01865-598364</a></li>
                        <li><a class="mail" href="mailto:corporate-mail@support.com"><span
                                class="fa fa-envelope-open-o"></span> info@mastermindabacusbd.com</a></li>
                    </ul>
                    <div class="main-social-footer-29">
                        <a class="facebook" href="#facebook"><span class="fa fa-facebook"></span></a>
                        <a class="twitter" href="#twitter"><span class="fa fa-twitter"></span></a>
                        <a class="instagram" href="#instagram"><span class="fa fa-instagram"></span></a>
                        <a class="google-plus" href="#google-plus"><span class="fa fa-google-plus"></span></a>
                        <a class="linkedin" href="#linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <ul>
                        <h6 class="footer-title-29">Featured Links</h6>
                        <li><a href="contact.html">Graduation</a></li>
                        <li><a href="contact.html">Admissions</a></li>
                        <li><a href="contact.html">Book Store</a></li>
                        <li><a href="contact.html">International</a></li>
                        <li><a href="contact.html">Courses</a></li>
                    </ul>
                </div>
                <div class="footer-list-29 footer-3">

                    <h6 class="footer-title-29">Newsletter </h6>
                    <form action="#" class="subscribe" method="post">
                        <input name="email" placeholder="Email" required="" type="email">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                    <p>Subscribe and get our weekly newsletter</p>
                    <p>We'll never share your email address</p>

                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="#"> Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-grid grid-col-2 bottom-copies">
                <p class="copy-footer-29">© 2020 All rights reserved | Test</p>
                <ul class="list-btm-29">
                    <li><a href="#link">Privacy policy</a></li>
                    <li><a href="#link">Terms of service</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- move top -->
    <button id="movetop" onclick="topFunction()" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->
</section>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
</script>

<!-- Template JavaScript -->
<script src="assets/js/all.js"></script>

</body>

</html>
