<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Mastermind Abacus Bangladesh | Best Abacus Training center in Bangladesh</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link href="assets/css/style-starter.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

</head>
<body>


<!-- Top Menu 1 -->
<section class="w3l-top-menu-1">
    <div class="top-hd">
        <div class="container">
            <header class="row top-menu-top">
                <div class="accounts col-md-12 col-6">
                    <li class="top_li"><span class="fa fa-phone"></span><a href="tel:+01865-598364">+01865-598364 |
                        House # 40, Road # 07, Sector # 13, Uttara</a>
                    </li>
                    <li class="top_li1"><span class="fa fa-envelope-o"></span> <a
                            class="mail" href="mailto:education-mail@support.com"> info@mastermindabacusbd.com</a></li>
                </div>

            </header>
        </div>
    </div>
</section>
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
        <div class="container">
            <a class="navbar-brand" href="index.html"> <img src="assets/images/logo.png"
                                                            alt="mastermind abacus school logo"></a>
            <!-- if logo is image enable this
          <a class="navbar-brand" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </a> -->
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="program-overview.html">PROGRAMME OVERVIEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="program-overview.html#faq-section">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admission.html">Admission</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</section>
<section class="w3l-main-slider" id="home">
    <!-- main-slider -->
    <div class="companies20-content">

        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Better Education For A Better World</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Read
                                        More</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Explore The World Of Our Graduates</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Exceptional People, Exceptional Care</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2" data-selector=".bg.bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg mx-auto text-center">
                                    <h5>Explore The World Of Our Graduates</h5>
                                    <a class="btn btn-secondary btn-theme2 mt-md-5 mt-4" href="services.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>

    </div>


    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for -->

    <!-- //script -->
    <!-- /main-slider -->
</section>
<!--introduciton seciton-->
<section class="w3l-index1 mb-5">
    <div class="calltoaction-20editContent">
        <div class="container py-md-3">

            <div class="calltoaction-20-content row">
                <div class="column center-align-self col-lg-12 pr-lg-5">
                    <h1 class="mb-4 text-center">WELCOME TO SMART EDUCATION GROUP
                    </h1>
                    <strong>Smart Education Group</strong> is an institute established in 2014 focusing to introduce and
                    implement an
                    innovative and exciting perspective to enhance the learning experience of students in Bangladesh.
                    The primary goal is to introduce and implement the concept of STEAM (Science, Technology,
                    Engineering, Art and Math) curriculum for young learners. Smart Education Group is affiliated with
                    an international learning organization "Master Mind Abacus" which is among one of the fastest and
                    leading developing academy. Mastermind Abacus classes offer a specialized course, that is proven as
                    a "Brain Development Program" for children. It is a boon for kids as it enables them not only to
                    learn to do mental maths but also to utilize all functions of both left and right brain. We at
                    Master Mind work in accordance with child's psychology. We understand the importance of 'play' in a
                    child's life and implement playful methods in our lessons, so as to make their experience joyful and
                    memorable translating into effective learning.

                </div>

            </div>
        </div>
    </div>
</section>
<!--  form-12 -->
<section class="w3l-form-12">
    <div class="form-12-content" id="services">
        <div class="container">
            <div class="grid grid-column-3 py-md-5">

                <div class="column2">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item text-white">
                                    <span class="fa fa-cog"></span>
                                    <h5>Logical Understanding</h5>
                                    <p class="text-left">While a child visualize the questions on the imaginary abacus
                                        after listening
                                        to it, they have to apply logic to do the proper movement of beads in the mind.
                                        This ability also helps the kids to apply logics in various situations and even
                                        in real-life scenarios.

                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item text-white">
                                    <span class="fa fa-flask"></span>
                                    <h5>Concentration</h5>
                                    <p class="text-left">For every question to be answered correctly, children have to
                                        listen to the sum that is being read and concentrate on it so as to visualize it
                                        in their mind. This becomes a habit when exercised regularly throughout the
                                        abacus training for a period of 2 and half years. It applies to all subjects by
                                        imbibing better listening skills.

                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-6 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item text-white">
                                    <span class="fa fa-sun-o"></span>
                                    <h5>Builds a Photographic Memory</h5>
                                    <p class="text-left">When the beads movement is done in the mind, children pictures
                                        the position of the beads displayed in their mind. Unless the picture is created
                                        they would not be able to answer the question that was asked. Photographic
                                        memory enables a student capture the images or instances as it is in their
                                        memory.

                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item text-white">
                                    <span class="fa fa-arrows-v"></span>
                                    <h5>Enhances Visualization</h5>
                                    <p class="text-left">When the beads movement is done in the mind, children pictures
                                        the position of the beads displayed in their mind. Unless the picture is created
                                        they would not be able to answer the question that was asked. Photographic
                                        memory enables a student capture the images or instances as it is in their
                                        memory.</p>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- // form-12 -->
<!--counter section start-->
<!-- specifications -->
<section class="w3l-index2" style="background-image: url(assets/images/counter-banner.png)">
    <div class="main-w3 py-5" id="stats">
        <div class="container py-lg-3">
            <div class="row main-cont-wthree-fea">
                <div class="col-lg-3 col-sm-6">
                    <h3 class="title-spe">15</h3>
                    <sub>COUNTRIES</sub>
                </div>
                <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                    <h3 class="title-spe">3000</h3>
                    <sub> CENTERS</sub>
                </div>
                <div class="col-lg-3 col-sm-6  mt-lg-0 mt-4">
                    <h3 class="title-spe">10000</h3>
                    <sub>INSTRUCTORS</sub>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                    <h3 class="title-spe">500000</h3>
                    <sub>STUDENTS</sub>
                </div>
            </div>

        </div>
    </div>
    <!-- //specifications -->
</section>
<!--counter section end-->

<!-- features-4 block -->
<section class="w3l-index1" id="about">
    <div class="calltoaction-20  py-5 editContent">
        <div class="container py-md-3">
            <div class="calltoaction-20-content row">

                <div class="col-lg-12">
                    <h2 class="text-center" id="about-course">ABOUT COURSE</h2>
                    <h4 class="mt-4">What is Abacus ?</h4>
                    <p class="">Abacus is an instrument that was invented some 2500 years ago primarily in China, which
                        later on spread through countries like Korea, Japan, Taiwan, Malaysia etc. It was used in the
                        ancient times for calculating numbers through basic arithmetic system. It has now been proven as
                        a complete brain development tool over last two decades.
                    </p>
                    <p>Abacus became popular over the world after being transformed from a calculating instrument into a
                        system having immense power to benefit children of small ages by expanding the brain usage, in
                        addition to making maths learning easy and effective.

                    </p>

                    <img alt="" class="img-responsive img-fluid" src="assets/images/what-is-abacus.jpg">
                </div>

                <div class="col-lg-12">
                    <h4 class="mt-4">Getting Friendly with Abacus:</h4>
                    <small>The image displayed is that of a structure of an abacus</small>
                    <img alt="" class="img-responsive img-fluid" src="assets/images/AboutAbacus.jpg"
                         style="margin: 0 auto">
                    <h4 class="mt-4">Functions of Abacus:</h4>
                    <p class="">An abacus instrument allows performing basic operations like Addition, Subtraction,
                        Multiplication and Division. It can also carry out operations such as counting up to decimal
                        places, calculates sums having negative numbers etc.

                    </p>
                    <h4 class="mt-4">Advantages of Abacus: </h4>
                    <small>Improvement of numerical memory :
                    </small>
                    <p class="">Children using Abacus are found to be superior in the accuracy of their memory and the
                        number of digits they are able to memorize when compared with non-abacus learners of the same
                        age. This is because the abacus children place numbers on the abacus image in their head as they
                        mentally calculate with abacus method.

                    </p>
                    <small>Improvement of numerical memory :
                    </small>
                    <p><strong>It improves the image memory. It becomes easier for the children to do mental maths
                        quickly with accuracy.

                    </strong></p>
                    <p>It helps the student in solving mathematical problems. The accurate and rapid calculation leads
                        to better marks in mathematical calculations. In addition, a positive effect is seen as the
                        children are quick in calculating fractional numbers too.</p>

                    <p>The advantage of Abacus learning is that the learners can calculate simple mathematical problems
                        rapidly and accurately. They acquire the ability of doing mental maths utilizing the abacus
                        image, which allows quick calculations without actually using the ABACUS.</p>

                    <p> At the end of this programme, child can do Addition, Substraction, Multiplication and Division
                        large numbers with greater speed than the calculator and computer, because ABACUS is the father
                        of modern computer.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>Listening</li>
                                <li>Concentration</li>
                                <li>Comprehension</li>
                                <li>Presentation</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Memory, Speed, Accuracy</li>
                                <li>Creative and Imagining Skills</li>
                                <li>Personality Development</li>
                                <li>High Confidence level</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- features-4 block -->

<!-- features-4 block -->
<section class="w3l-index1">
    <div class="calltoaction-20">
        <div class="container ">
            <div class="calltoaction-20-content row">

                <div class="col-lg-12">
                    <h2 class="text-center">BE AN ABACUS FRANCHISE:</h2>

                    <p class="">FRANCHISE DETAILS MASTER MIND ABACUS– A business opportunity with the global presence of
                        more than 2000+ Abacus franchise...Read On!
                    </p>
                    <p>
                        Master Mind has a global presence with more than 2000+ Abacus franchise in India and abroad.
                        With more than 18 years of experience in the education industry, Master Mind has shared gigantic
                        success with all its franchises and associates. Our endeavor is to make Master Mind Abacus an
                        enjoyable & memorable experience for our children.</p>

                    <p> Master Mind USP: EXCELLENT COURSE MATERIALS: Master Mind Abacus offers the best course material
                        in the industry, both in terms of content and quality. PLAY AND LEARN CONCEPT: Master Mind
                        Abacus offers a joyful experience for children, through games incorporated in books and through
                        speed building software.</p>

                    <p> INNOVATIVE TRAINING TECHNIQUES: The innovative concept of scoreboard and point cards adds to the
                        delight of teachers by providing ease and convenience of teaching to the students. USE OF
                        TECHNOLOGY: Master Mind Abacus has modernized the learning for students by offering the
                        convenience of Speed Building Software, Virtual Abacus, Online Competition Facility, Student’s
                        Panel, Franchise Panel and Website Services which adds to a cheerful experience of students and
                        facilitates easy operations for the franchise.
                    </p>

                    <p> ECONOMIC: Master Mind Abacus is affordable for all the students as it is cost-effective and
                        gives value for money. Franchise Facts: Area Required: 500 to 1000 sq ft Investment: BDT:
                        75,000/= - BDT: 200,000/= <br>

                        Support Offered: ERP Systems: The franchisee benefits from the ERP system, through which we
                        offer convenience, in managing a paperless office and saving the Manpower Cost. 24X7 Helpdesk:
                        The helpdesk offers 24X7 help to the Franchisees for any issues, and ensures that it is resolved
                        within 24 hrs. Post Franchise Operations Department: Our specialized Post Franchise Operations
                        Department is responsible to grow our Franchisee from a seed to plant. Post-Franchise Department
                        provides long-term support and constantly updates the franchises about the latest developments,
                        facilitates the franchise to conduct demos and various activities to promote their business.
                        <br>
                        Individualized website: The Franchise gets a dynamic website with his own unique domain name.
                        <br>
                        <br>
                        Franchisee kit: The kit contains Teachers Abacus, Marketing tools like counseling folder, flex,
                        pamphlets, visiting cards, and other promotional material to promote business in the local area.
                        <br>
                        <br>
                        Training Kit: The Kit contains all the materials for the teachers training.
                        <br>
                        <br>
                        “A perfect franchise opportunity is waiting for you, contact now to become franchisee”
                        <br>
                        <br>
                        Mastermind Abacus Bangladesh Head Office: House # 40, Road # 07, Sector # 13, Uttara,
                        Dhaka-1230. Mobile: 01865-598364

                        Thanks & Regards

                        Master Mind Team
                    </p>

                </div>


            </div>
        </div>
    </div>
</section>
<!-- features-4 block -->
<section class="services-12" id="course">
    <div class="form-12-content">
        <div class="container">
            <div class="grid grid-column-2 ">

                <div class="column1">
                    <div class="heading">
                        <h3 class="head text-white">Are you interested ?</h3>
                        <h4>Admission is now open now open</h4>
                        <p class="my-3 text-white"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae;
                            Nulla mollis dapibus nunc, ut rhoncus
                            turpis sodales quis. Integer sit amet mattis quam.</p>
                    </div>
                </div>
                <div class="column2">
                    <a class="btn btn-secondary btn-theme2 mt-3" href="admission.html"> Apply Here</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-price-2" id="news">
    <div class="price-main py-5">
        <div class="container py-md-3">
            <div class="pricing-style-w3ls row py-md-5">
                <div class="pricing-chart col-lg-6">
                    <h3 class="">News Events</h3>
                    <div class="tatest-top mt-md-5 mt-4">
                        <div class="price-box btn-layout bt6">
                            <div class="grid grid-column-2">
                                <div class="column-6">
                                    <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                                </div>
                                <div class="column1">

                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="#">Summer Course Starts </a></h6>
                                        <h5>April 25, 2020</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit architecto..</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="price-box btn-layout bt6 top-middle-1">
                            <div class="grid grid-column-2">
                                <div class="column-6">
                                    <img alt="" class="img-fluid" src="assets/images/g10.jpg">
                                </div>
                                <div class="column1">
                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="#">
                                            About Artificial Intelligence</a></h6>
                                        <h5>March 25, 2020</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit architecto..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-box btn-layout bt6">
                            <div class="grid grid-column-2">
                                <div class="column-6">
                                    <img alt="" class="img-fluid" src="assets/images/g8.jpg">
                                </div>
                                <div class="column1">

                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="#">
                                            New Exam Schedules </a></h6>
                                        <h5>February 25, 2020</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit architecto..</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="text-right mt-4">
                        <a class="btn btn-secondary btn-theme2" href="#"> View All</a>
                    </div>
                </div>
                <div class="w3l-faq-page col-lg-6 pl-3 pl-lg-5 mt-lg-0 mt-5">
                    <h3 class="">Upcoming Events</h3>
                    <div class="events-top mt-md-5 mt-4">
                        <div class="events-top-left">
                            <div class="icon-top">
                                <h3>20</h3>
                                <p>Nov</p>
                                <span>2020</span>
                            </div>
                        </div>
                        <div class="events-top-right">
                            <h6 class="pricehead"><a href="#">
                                Luctus et ultrices posuere</a></h6>
                            <p class="mb-2 mt-3">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis.
                                Integer sit amet mattis quam.</p>
                            <li>07:00 - 10:00</li>
                            <li class="melb">Melbourne, Australia</li>
                        </div>
                    </div>
                    <div class="events-top mt-4">
                        <div class="events-top-left">
                            <div class="icon-top">
                                <h3>25</h3>
                                <p>Nov</p>
                                <span>2020</span>
                            </div>
                        </div>
                        <div class="events-top-right">
                            <h6 class="pricehead"><a href="#">
                                Nulla mollis dapibus nunc, ut </a></h6>
                            <p class="mb-2 mt-3">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis.
                                Integer sit amet mattis quam.</p>
                            <li>07:00 - 10:00</li>
                            <li class="melb">Melbourne, Australia</li>
                        </div>
                    </div>
                    <div class="text-right mt-4">
                        <a class="btn btn-secondary btn-theme2" href="#"> View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--gallery block start-->
<section class="w3l-price-2" id="gallery">
    <h3 class="text-center mt-4">Gallery</h3>

    <div class="container py-md-3">
        <div class="pricing-style-w3ls row">

            <div class="row">
                <div class="gallery-carousel" style="width: 100px;">
                    <div class="col-md-3 ">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                    <div class="col-md-3 ">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                    <div class="col-md-3 ">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                    <div class="col-md-3 ">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                    <div class="col-md-3 mt-3">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                    <div class="col-md-3 mt-3">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                    <div class="col-md-3 mt-3">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                    <div class="col-md-3 mt-3">
                        <img alt="" class="img-fluid" src="assets/images/g9.jpg">
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

</section>
<!--gallery block end-->
<!-- grids block 5 -->
<section class="w3l-footer-29-main">
    <div class="footer-29">
        <div class="container">
            <div class="d-grid grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h6 class="footer-title-29">Contact Us</h6>
                    <ul>
                        <li><p><span class="fa fa-map-marker"></span> House # 40, Road # 07, Sector # 13, Uttara</p>
                        </li>
                        <li><a href="tel:+01865-598364"><span class="fa fa-phone"></span> 01865-598364</a></li>
                        <li><a class="mail" href="mailto:corporate-mail@support.com"><span
                                class="fa fa-envelope-open-o"></span> info@mastermindabacusbd.com</a></li>
                    </ul>
                    <div class="main-social-footer-29">
                        <a target="_blank" class="facebook" href="https://www.facebook.com/mastermindabacusbd/"><span
                                class="fa fa-facebook"></span></a>
                        <a target="_blank" class="twitter" href="https://twitter.com/mastermind_bd?lang=en"><span
                                class="fa fa-twitter"></span></a>
                        <a class="instagram" href="#instagram"><span class="fa fa-instagram"></span></a>
                        <a target="_blank" class="linkedin"
                           href="https://bd.linkedin.com/company/mastermindabacusbd"><span
                                class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <ul>
                        <h6 class="footer-title-29">Featured Links</h6>
                        <li><a href="admin-login">Admin Login</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="https://mastermindabacusbd.com/gurdian-login">Guardian Login</a></li>
                    </ul>
                </div>
                <div class="footer-list-29 footer-3">

                    <h6 class="footer-title-29">Newsletter </h6>
                    <form action="#" class="subscribe" method="post">
                        <input name="email" placeholder="Email" required="" type="email">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                    <p>Subscribe and get our weekly newsletter</p>
                    <p>We'll never share your email address</p>

                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a href="admission.html">Admission</a></li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#"> Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-grid grid-col-2 bottom-copies">
                <p class="copy-footer-29">© 2020 All rights reserved | Mastermindabacusbd.com</p>
                <ul class="list-btm-29">
                    <li><a href="#link">Privacy policy</a></li>
                    <li><a href="#link">Terms of service</a></li>

                </ul>
            </div>
        </div>
    </div>

    <!-- move top -->
    <button id="movetop" onclick="topFunction()" title="Go to top">

        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->
</section>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery-3.3.1.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
</script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 200
    });
</script>
`

<!-- <script src="assets/js/smoothscroll.js"></script> -->
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/lozad.min.js"></script>
<!-- script for -->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })

        $('.gallery-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            responsiveClass: true,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 3,
                    nav: false
                },
                480: {
                    items: 3,
                    nav: false
                },
                667: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 33,
                    nav: true
                }
            }
        })
        //    lozad

        const observer = lozad(); // lazy loads elements with default selector as '.lozad'
        observer.observe();

    })
</script>
<!-- //script -->

</body>

</html>
