<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Mastermind Abacus Bangladesh | Best Abacus Training center in Bangladesh</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link href="assets/css/style-starter.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

</head>
<body >


<!-- Top Menu 1 -->
<section class="w3l-top-menu-1">
    <div class="top-hd">
        <div class="container">
            <header class="row top-menu-top">
                <div class="accounts col-md-12 col-6">
                    <li class="top_li"><span class="fa fa-phone"></span><a href="tel:+01865-598364">+01865-598364 |
                        House # 40, Road # 07, Sector # 13, Uttara</a>
                    </li>
                    <li class="top_li1"><span class="fa fa-envelope-o"></span> <a
                            class="mail" href="mailto:education-mail@support.com"> info@mastermindabacusbd.com</a></li>
                </div>

            </header>
        </div>
    </div>
</section>
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
        <div class="container">
            <a class="navbar-brand" href="index.html"> <img src="assets/images/logo.png" alt="mastermind abacus school logo" ></a>
            <!-- if logo is image enable this
          <a class="navbar-brand" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </a> -->
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="program-overview.html">PROGRAMME OVERVIEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="program-overview.html#faq-section">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admission.html">Admission</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<!-- features-4 block -->
<section class="w3l-index1" id="about">

    <div class="container py-md-3">

        <div class="col-lg-12 text-center">
            <h1>PROGRAMME OVERVIEW</h1>
            <hr>
            <h3>About Course</h3>
            <hr>
            <h4 class=" mt-4">Abacus Course Information :</h4>
            <h5 class="text-center mb-4">----A course that can change the course of your kid's life!----</h5>
            <p class="mt-4 text-left">Most of the people are unaware about the benefits associated with abacus course
                for kids.
                Definitely the course ensures an increase in speed of the arithmetic calculations with accurate results
                but, Master Mind Abacus does lot more for kids at an early age. It develops an ability to utilize the
                left and right brain functions simultaneously. Below mentioned are the skills that get augmented in the
                program-
            </p>
            <h5 class="mb-4">Course Structure of Complete Abacus learning for kids:
            </h5>
        </div>
        <div class="col-lg-12">
            <div class="programme-heading2">
                <div class="clearBoth"></div>
                <h5 class="MainHeading BlackColor">Course Structure of Complete Abacus learning for kids:</h5>


                <table class="courseStructure" id="courseStructureTable" width="100%" border="1" style="margin-top:2%;">
                    <tbody>
                    <tr>
                        <th>Levels</th>
                        <td>0 to 10 Levels.</td>
                    </tr>
                    <tr>
                        <th>Course Duration</th>
                        <td> 2 and half years (Each level of 3 months)</td>
                    </tr>
                    <tr>
                        <th>Sessions</th>
                        <td>Once a week (2 hours each)</td>
                    </tr>
                    <tr>
                        <th>Eligibility</th>
                        <td>Students should be in age group of 4 to 14 years</td>
                    </tr>
                    <tr>
                        <th>Course Kit</th>
                        <td>
                            <p>
                                Abacus classes for kids have different books for each level including the speed building
                                software DVD.<br>
                                Book is structured level-wise and day-wise for better understanding of abacus for
                                children.<br>
                                Each day's practice is supported by the mathematical games incorporated in the books.
                                <br>
                                Separate book for parents which is structured to facilitate practice of their children
                                at home
                                <br>
                                17 rod abacus with pouch
                                <br>
                                Master Mind Abacus T-shirt and Bag
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- features-4 block -->

<!-- features-4 block -->
<section class="w3l-index1" id="faq-section">
    <div class="calltoaction-20">
        <div class="container ">

            <div class="col-lg-12 text-center">
                <h2>Frequently Asked Questions:
                </h2>
            </div>
            <div class="col-lg-12 mt-4 mb-4">
                <a class="btn btn-primary btn-block text-left" data-toggle="collapse" href="#faq1" role="button"
                   aria-expanded="false" aria-controls="faq1">
                    <i class="fa fa-plus"></i>&nbsp;WHEN IS THE BEST TIME FOR MY CHILD TO START LEARNING ABACUS?
                </a>
                <div class="collapse" id="faq1">
                    <div class="card card-body">
                        A: There is no prescribed age. However, we do have minimum requirement that the child be of 4
                        years of age AND able to write numbers without assistance.
                    </div>
                </div>
                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq2" role="button"
                   aria-expanded="false" aria-controls="faq2">
                    <i class="fa fa-plus"></i>&nbsp;WILL LEARNING ABACUS INTERFERE WITH MY CHILD’S LEARNING METHOD IN
                    SCHOOL?
                </a>
                <div class="collapse" id="faq2">
                    <div class="card card-body">
                        A: No. It will only complement if not surpass it. Mastering abacus skill enables children to do
                        mental calculation with greater speed and accuracy therefore they can then devote their
                        cognitive skill to mathematical problems that requires deeper understanding.
                    </div>
                </div>
                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq3" role="button"
                   aria-expanded="false" aria-controls="faq3">
                    <i class="fa fa-plus"></i>&nbsp;HOW CAN YOUR ABACUS PROGRAMME HELP MY CHILD?
                </a>
                <div class="collapse" id="faq3">
                    <div class="card card-body">
                        A: We understand that a child loves to play and learns better if taught in a playful manner. Our
                        Abacus training for children is planned keeping in view the above. Hence, our Brain Development
                        Program ensures the overall development of a child at an early age without creating any added
                        pressure. It enhances its arithmetic and numerical abilities. It also adds to the confidence of
                        child by evolving skills like listening, concentration, visualization, logical reasoning,
                        photographic memory and recall.
                    </div>
                </div>

                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq4" role="button"
                   aria-expanded="false" aria-controls="faq4">
                    <i class="fa fa-plus"></i>&nbsp;WHAT IS THE DURATION OF COMPLETE COURSE?
                </a>
                <div class="collapse" id="faq4">
                    <div class="card card-body">
                        A: There are 10 levels (8 basic + 2 advance levels) and the duration of each level is 3 months
                        which makes the total duration of the course to be 2 and half years.

                    </div>
                </div>


                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq5" role="button"
                   aria-expanded="false" aria-controls="faq5">
                    <i class="fa fa-plus"></i>&nbsp;HOW MANY CLASSES ARE CONDUCTED IN A MONTH?
                </a>
                <div class="collapse" id="faq5">
                    <div class="card card-body">
                        A: 4 (four) classes in a month. The classes are conducted once in a week (generally on weekends)
                        which is of 2 hours each.

                    </div>
                </div>

                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq6" role="button"
                   aria-expanded="false" aria-controls="faq6">
                    <i class="fa fa-plus"></i>&nbsp;HOW IS THE FEE STRUCTURE?
                </a>
                <div class="collapse" id="faq6">
                    <div class="card card-body">
                        A: We offer a very competitive course fee. Please call our friendly staff at 01865-598364 to
                        enquire.


                    </div>
                </div>

                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq7" role="button"
                   aria-expanded="false" aria-controls="faq7">
                    <i class="fa fa-plus"></i>&nbsp;WILL MY CHILD BECOMES A MATHEMATICIAN?
                </a>
                <div class="collapse" id="faq7">
                    <div class="card card-body">
                        A: Abacus training for children is designed to enhance their arithmetic and numerical abilities
                        by improving their listening abilities and their ability to perform mental calculations with
                        accuracy and speed. This adds to their confidence and level of interest in mathematics.
                        Apparently this leads to better performance in the subject.

                    </div>
                </div>

                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq8" role="button"
                   aria-expanded="false" aria-controls="faq8">
                    <i class="fa fa-plus"></i>&nbsp;HOW IS MASTER MIND ABACUS DIFFERENT FROM OTHERS?
                </a>
                <div class="collapse" id="faq8">
                    <div class="card card-body">
                        A: Master Mind offers what others do not. It has an edge because<br>
                        It is aligned with school curriculum method<br>
                        Adapts play and learn method for effective learning<br>
                        Provides exclusive course material (Books + DVD)<br>
                        Speed building software/Online games helps to practice and evaluate time and accuracy
                        Conducts<br>
                        online exams at National, State and Center levels etc.<br>

                    </div>
                </div>
                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq9" role="button"
                   aria-expanded="false" aria-controls="faq9">
                    <i class="fa fa-plus"></i>&nbsp;WHO CAN JOIN THE COURSE?
                </a>
                <div class="collapse" id="faq9">
                    <div class="card card-body">
                        A: Children between the age group of 4 to 14 are eligible to join.


                    </div>
                </div>

                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq10" role="button"
                   aria-expanded="false" aria-controls="faq10">
                    <i class="fa fa-plus"></i>&nbsp;HOW DO YOU STATE THAT A CHILD LEARNS WHILE PLAYING GAMES? THAT
                    SOUNDS STRANGE TO ME.
                </a>
                <div class="collapse" id="faq10">
                    <div class="card card-body">
                        A: Yes, in our program a child learns abacus while playing as we make practice interesting by
                        incorporating games in our study material. Participative classrooms and online games allows them
                        to practice with a feeling of video game. This becomes possible through speed building software
                        designed using animations of bright colors, that evaluates kids on their accuracy and time.

                    </div>
                </div>

                <a class="btn btn-primary btn-block mt-1 text-left" data-toggle="collapse" href="#faq11" role="button"
                   aria-expanded="false" aria-controls="faq11">
                    <i class="fa fa-plus"></i>&nbsp;
                    HOW WILL I BE ABLE TO HELP MY CHILD IN HIS PRACTICE WHEN I DON’T KNOW ANYTHING ABOUT IT?
                </a>
                <div class="collapse" id="faq11">
                    <div class="card card-body">
                        A: The study material also consist of a parent's handbook through which they can guide the
                        children to practice at home. Also, contacting the trainer for any help is always an available
                        option.

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- features-4 block -->
<section class="services-12" id="course">
    <div class="form-12-content">
        <div class="container">
            <div class="grid grid-column-2 ">

                <div class="column1">
                    <div class="heading">
                        <h3 class="head text-white">Are you interested ?</h3>
                        <h4>Admission is now open now open</h4>
                        <p class="my-3 text-white"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae;
                            Nulla mollis dapibus nunc, ut rhoncus
                            turpis sodales quis. Integer sit amet mattis quam.</p>
                    </div>
                </div>
                <div class="column2">
                    <a class="btn btn-secondary btn-theme2 mt-3" href="admission.html"> Apply Here</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- grids block 5 -->
<section class="w3l-footer-29-main">
    <div class="footer-29">
        <div class="container">
            <div class="d-grid grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h6 class="footer-title-29">Contact Us</h6>
                    <ul>
                        <li><p><span class="fa fa-map-marker"></span> House # 40, Road # 07, Sector # 13, Uttara</p>
                        </li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> 01865-598364</a></li>
                        <li><a class="mail" href="mailto:corporate-mail@support.com"><span
                                class="fa fa-envelope-open-o"></span> info@mastermindabacusbd.com</a></li>
                    </ul>
                    <div class="main-social-footer-29">
                        <a class="facebook" href="#facebook"><span class="fa fa-facebook"></span></a>
                        <a class="twitter" href="#twitter"><span class="fa fa-twitter"></span></a>
                        <a class="instagram" href="#instagram"><span class="fa fa-instagram"></span></a>
                        <a class="google-plus" href="#google-plus"><span class="fa fa-google-plus"></span></a>
                        <a class="linkedin" href="#linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <ul>
                        <h6 class="footer-title-29">Featured Links</h6>
                        <li><a href="contact.html">Graduation</a></li>
                        <li><a href="contact.html">Admissions</a></li>
                        <li><a href="contact.html">Book Store</a></li>
                        <li><a href="contact.html">International</a></li>
                        <li><a href="contact.html">Courses</a></li>
                    </ul>
                </div>
                <div class="footer-list-29 footer-3">

                    <h6 class="footer-title-29">Newsletter </h6>
                    <form action="#" class="subscribe" method="post">
                        <input name="email" placeholder="Email" required="" type="email">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                    <p>Subscribe and get our weekly newsletter</p>
                    <p>We'll never share your email address</p>

                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="#"> Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-grid grid-col-2 bottom-copies">
                <p class="copy-footer-29">© 2020 All rights reserved | Test</p>
                <ul class="list-btm-29">
                    <li><a href="#link">Privacy policy</a></li>
                    <li><a href="#link">Terms of service</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- move top -->
    <button id="movetop" onclick="topFunction()" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</section>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->
</section>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/jquery-3.3.1.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
</script>
<!-- smooth scroll to several section of the page-->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 200
    });
</script>
`

<!-- <script src="assets/js/smoothscroll.js"></script> -->
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/lozad.min.js"></script>
<!-- script for -->
<script>
    $(document).ready(function () {
    })
</script>
<!-- //script -->

</body>

</html>
